<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
 <key>footerText</key>
  <string>Requires Respring</string>
  <key>footerAlignment</key>
  <integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.luna.lunatweaksprefs</string>
			<key>key</key>
			<string>LunaTweaksIsEnabled</string>
			<key>label</key>
			<string>Enabled</string>
                        <key>PostNotification</key>
                        <string>com.luna.lunatweaksprefs/settingschanged</string>
		</dict>
<dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
<key>footerText</key>
  <string>Requires Respring</string>
  <key>footerAlignment</key>
  <integer>1</integer>
                </dict>
                <dict>
<key>cell</key>             <string>PSSwitchCell</string>
            <key>default</key>          <true/>
            <key>defaults</key>         <string>com.luna.lunatweaksprefs</string>
            <key>key</key>              <string>screentimepin</string>
            <key>label</key>            <string>[TESTING] Bypass Screentime Pin</string>
            <key>PostNotification</key> <string>com.luna.lunatweaksprefs/settingschanged</string>
</dict>
<dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
<key>footerText</key>
  <string>Requires Respring</string>
  <key>footerAlignment</key>
  <integer>1</integer>
                </dict>
<dict>
<key>cell</key>             <string>PSSwitchCell</string>
            <key>default</key>          <false/>
            <key>defaults</key>         <string>com.luna.lunatweaksprefs</string>
            <key>key</key>              <string>screentimedisable</string>
            <key>label</key>            <string>Disable Screentime</string>
            <key>PostNotification</key> <string>com.luna.lunatweaksprefs/settingschanged</string>
</dict>
<dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
<key>footerText</key>
  <string>Requires Respring</string>
  <key>footerAlignment</key>
  <integer>1</integer>
                </dict>
                <dict>
<key>cell</key>             <string>PSSwitchCell</string>
            <key>default</key>          <false/>
            <key>defaults</key>         <string>com.luna.lunatweaksprefs</string>
            <key>key</key>              <string>debug</string>
            <key>label</key>            <string>[TESTING] Debug</string>
            <key>PostNotification</key> <string>com.luna.lunatweaksprefs/settingschanged</string>
</dict>
<dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
<dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Respring</string>
            <key>action</key>           <string>respring</string>
        </dict>
        <dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Userspace</string>
            <key>action</key>           <string>userspace</string>
        </dict>
   	</array>
	<key>title</key>
	<string>LunaTweaks</string>
</dict>
</plist>
